// colors
$light-text-main: #3c3563;
$light-text-secondary: #999999;
$dark-text-main: #ffffff;
$dark-text-secondary: #abaab2;
$orange: #ff9600;
$green: #00ce93;
$blue: #4b62c1;
$red: #fb4f5c;

// backgrounds
$dark-background-body: #2c2b3b;
$dark-background-container: #373549;
$light-background-body: #f5f5fb;
$light-background-container: #fff;

// font family
$font: "Roboto", sans-serif;

// variables
$sidenav-width: 200px;
/* media query breakpoints */
$breakpoint-1: 650px;
$breakpoint-2: 900px;
$transition-duration: 0.3s;
